<form name="form" class="alert-action" ng-escape="$close()">

    <div class="modal-header">
        <h4 class="modal-title">{{ ctrl.title | translate}}</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group" authorize="ALERTER_ALERT_ADD_COMMENT">
                    <label translate>Comment</label>
                    <textarea class="form-control"
                              autosize
                              autofocus
                              ng-required="true"
                              placeholder="{{'Enter comment'|translate}}"
                              ng-model="ctrl.comment"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" class="btn btn-link"
               value="{{'Cancel'|translate}}"
               ng-click="$close()">

        <input type="submit"
               value="{{ ctrl.acceptButtonLabel | translate}}"
               class="btn btn-primary"
               ng-click="ctrl.accept()"
               ng-disabled="form.$invalid || form.$pristine">
    </div>

</form>
