<div class="item">

    <div class="toolbar">
        <h2>{{ ctrl.dictionary.label | translate}}</h2>

        <div class="buttons">
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" ng-click="ctrl.open()"><i class="md md-add-circle"></i>&nbsp;
                    {{'Add'|translate}} {{ctrl.dictionary.name | translate}}
                </button>
            </div>
        </div>

    </div>

    <div class="content">

        <div class="card">

            <div class="card-header">

                <ul class="actions">
                    <li>
                        <a href tooltip="Dodaj element słownika" tooltip-placement="bottom" ng-click="ctrl.open()">
                            <i class="md md-add-circle"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="card-body">

                <table ng-table="ctrl.tableParams" class="table table-striped table-hover">
                    <thead>

                    <tr>
                        <th translate>Code</th>
                        <th translate>Label</th>
                        <th ng-repeat="column in ctrl.dictionary.extraColumns">{{ column.label | translate}}</th>
                        <th translate>Actions</th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr ng-repeat="item in ctrl.data track by $index">
                        <td><a href ng-click="ctrl.open(item)">{{ item.code }}</a>
                        </td>
                        <td><a href ng-click="ctrl.open(item)">{{ item.label }}</a>
                        </td>

                        <td ng-repeat="column in ctrl.dictionary.extraColumns">
                            {{ ctrl.getExtraColumnValue(column.code, $parent.$index) | translate }}
                        </td>

                        <td>
                            <button type="button" class="btn btn-icon command-edit"
                                    ng-click="ctrl.open(item)"><span
                                class="md md-edit"></span></button>
                            <button type="button" class="btn btn-icon command-delete"
                                    ng-click="ctrl.remove(item)"><span
                                class="md md-delete"></span></button>
                        </td>
                    </tr>

                    </tbody>

                </table>

                <h4 ng-if="ctrl.isLoading" class="loading" translate>Loading data...</h4>
                <h4 ng-if="!ctrl.isLoading && ctrl.data.length <= 0" class="loading" translate>No data</h4>

            </div>
        </div>

    </div>
</div>
